{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('panel')}}">Wroc</a>
    <table>
        <thead>
        <tr>
            <th>login</th>
            <th>adres</th>
            <th>opis</th>
            <th>akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for password in passwords %}
            <tr>
                <td>{{ password.login }}</td>
                <td>{{ password.webAddress }}</td>
                <td>{{ password.description }}</td>
                <td><a href="{{ path('password_show', {id:password.id})}}">Zobacz haslo</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
