{% extends "base.html.twig" %}

{% block body %}
    <a href="{{ path('password_index') }}" >Wróć</a>

                        <span> Login :{{ password.login }}</span>
                        <span>{{ password.webAddress }}</span>
                        <span>
                            {{ password.description }}
                        </span>
                    <span>Odszyformwane haslo : {{ encodedPassword }}</span>

{% endblock  %}
